.loader-pulse {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #8f44fd;
    animation: load-pulse 0.85s infinite linear;
  }
  
  @keyframes load-pulse {
    0% {
      transform: scale(0.15);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .loading {
    width: 60px;
    height: 60px;
    position: relative;
  }
  
  .d1 ,
  .d2 {
    border: 5px solid #64dfdf;
    border-radius: 50px;
  }
  
  .loading .d1 {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -9px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: load161 1s linear infinite;
  }
  
  .loading .d2 {
    width: 40px;
    height: 40px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin: 7.5px;
    animation: load2812 2s linear infinite;
  }
  
  @keyframes load161 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes load2812 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }